/* screen - desktop-5 */

.desktop-5 {
  background-color: transparent;
  height: 100vh;
  margin: 0px;
  min-height: 15988px;
  min-width: 1440px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.desktop-5 .desktop-5-lMJovW {
  background-color: transparent;
  height: 15988px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.desktop-5 .text_label-lMJovW {
  background-color: transparent;
  height: auto;
  left: 625px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 7365px;
  width: 41px;
}

.desktop-5 .text_label-WixCsP {
  background-color: transparent;
  height: auto;
  left: 929px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 7445px;
  width: 41px;
}

.desktop-5 .text_label-8xzUSw {
  background-color: transparent;
  height: auto;
  left: 103px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 6809px;
  width: auto;
}

.desktop-5 .text_label-d6ntcO {
  background-color: transparent;
  height: auto;
  left: 1135px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 6880px;
  width: auto;
}

.desktop-5 .rectangle-28-lMJovW {
  background-color: var(--app-bljue);
  height: 248px;
  left: 245px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5934px;
  width: 931px;
}

.desktop-5 .rectangle-29-lMJovW {
  background-color: var(--app-bljue);
  height: 230px;
  left: 245px;
  mix-blend-mode: normal;
  position: absolute;
  top: 6222px;
  width: 931px;
}

.desktop-5 .iphone-x_img_2-3-lMJovW {
  background-color: transparent;
  height: 691px;
  left: 753px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 164px;
  width: 670px;
}

.desktop-5 .work-lMJovW {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 996px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 31px;
  width: auto;
}

.desktop-5 .home-lMJovW {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 739px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 31px;
  width: auto;
}

.desktop-5 .about-lMJovW {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 1241px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 31px;
  width: auto;
}

.desktop-5 .food-savior-lMJovW {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-oleo_script);
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 151px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 327px;
  width: 555px;
}

.desktop-5 .duration-august-2021-december-2021-lMJovW {
  background-color: transparent;
  height: auto;
  left: 151px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 451px;
  width: 736px;
}

.desktop-5 .span0-vxiuoT {
}

.desktop-5 .span1-vxiuoT {
}

.desktop-5 .span2-vxiuoT {
}

.desktop-5 .tools-used-figma-and-illustrator-lMJovW {
  background-color: transparent;
  height: auto;
  left: 151px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 497px;
  width: 736px;
}

.desktop-5 .span0-B9kwqD {
}

.desktop-5 .span1-B9kwqD {
}

.desktop-5 .span2-B9kwqD {
}

.desktop-5 .project-info-final-p-lMJovW {
  background-color: transparent;
  height: auto;
  left: 151px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 543px;
  width: 736px;
}

.desktop-5 .span0-X6PevM {
}

.desktop-5 .span1-X6PevM {
}

.desktop-5 .span2-X6PevM {
}

.desktop-5 .role-ux-design-ux-research-lMJovW {
  background-color: transparent;
  height: auto;
  left: 151px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 607px;
  width: 577px;
}

.desktop-5 .span0-sxHFTt {
}

.desktop-5 .span1-sxHFTt {
}

.desktop-5 .span2-sxHFTt {
}

.desktop-5 .design-lo-fi-wirefra-lMJovW {
  background-color: transparent;
  height: auto;
  left: 181px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 643px;
  width: 577px;
}

.desktop-5 .span0-hb1tyl {
}

.desktop-5 .span1-hb1tyl {
}

.desktop-5 .span2-hb1tyl {
}

.desktop-5 .research-conducted-i-lMJovW {
  background-color: transparent;
  height: auto;
  left: 181px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 721px;
  width: 577px;
}

.desktop-5 .span0-LZWejr {
}

.desktop-5 .span1-LZWejr {
}

.desktop-5 .the-problem-lMJovW {
  background-color: transparent;
  height: auto;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1089px;
  width: 275px;
}

.desktop-5 .research-methods-used-lMJovW {
  background-color: transparent;
  height: auto;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2685px;
  width: 275px;
}

.desktop-5 .x1-on-1-interviews-lMJovW {
  background-color: transparent;
  height: auto;
  left: 649px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3133px;
  width: 275px;
}

.desktop-5 .affinity-mapping-lMJovW {
  background-color: transparent;
  height: auto;
  left: 649px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3893px;
  width: 275px;
}

.desktop-5 .competition-analysis-lMJovW {
  background-color: transparent;
  height: auto;
  left: 648px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5385px;
  width: 460px;
}

.desktop-5 .relevant-findings-lMJovW {
  background-color: transparent;
  height: auto;
  left: 648px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4053px;
  width: 275px;
}

.desktop-5 .x1-on-1-interviews-WixCsP {
  background-color: transparent;
  height: auto;
  left: 646px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2907px;
  width: 139px;
}

.desktop-5 .affinity-mapping-WixCsP {
  background-color: transparent;
  height: auto;
  left: 904px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2907px;
  width: 135px;
}

.desktop-5 .competition-analysis-WixCsP {
  background-color: transparent;
  height: auto;
  left: 1131px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2908px;
  width: 175px;
}

.desktop-5 .my-solution-lMJovW {
  background-color: transparent;
  height: auto;
  left: 318px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1291px;
  width: 275px;
}

.desktop-5 .the-challenge-why-people-throw-out-food-lMJovW {
  background-color: transparent;
  height: auto;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1564px;
  width: 518px;
}

.desktop-5 .just-like-everyone-e-lMJovW {
  background-color: transparent;
  height: auto;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1142px;
  width: 642px;
}

.desktop-5 .my-solution-was-an-a-lMJovW {
  background-color: transparent;
  height: auto;
  left: 318px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1344px;
  width: 642px;
}

.desktop-5 .span0-oACqB8 {
}

.desktop-5 .span1-oACqB8 {
}

.desktop-5 .span2-oACqB8 {
}

.desktop-5 .x7-user-interviews-my-lMJovW {
  background-color: transparent;
  height: auto;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3186px;
  width: 694px;
}

.desktop-5 .span0-P5ZLPS {
}

.desktop-5 .span1-P5ZLPS {
}

.desktop-5 .i-categorized-the-qu-lMJovW {
  background-color: transparent;
  height: auto;
  left: 648px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3946px;
  width: 692px;
}

.desktop-5 .problem-statement-lMJovW {
  background-color: transparent;
  height: auto;
  left: 650px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7335px;
  width: 321px;
}

.desktop-5 .user-flow-diagram-lMJovW {
  background-color: transparent;
  height: auto;
  left: 318px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7802px;
  width: 275px;
}

.desktop-5 .feature-prioritization-lMJovW {
  background-color: transparent;
  height: auto;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8552px;
  width: 275px;
}

.desktop-5 .store-specific-recipes-lMJovW {
  background-color: transparent;
  height: auto;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9569px;
  width: 275px;
}

.desktop-5 .already-have-it-lMJovW {
  background-color: transparent;
  height: auto;
  left: 318px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10172px;
  width: 275px;
}

.desktop-5 .login-lMJovW {
  background-color: transparent;
  height: auto;
  left: 398px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11416px;
  width: 66px;
}

.desktop-5 .homepage-lMJovW {
  background-color: transparent;
  height: auto;
  left: 660px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11416px;
  width: 119px;
}

.desktop-5 .search-and-recipes-lMJovW {
  background-color: transparent;
  height: auto;
  left: 936px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 11416px;
  width: 148px;
}

.desktop-5 .i-looked-at-other-re-lMJovW {
  background-color: transparent;
  height: auto;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5438px;
  width: 692px;
}

.desktop-5 .span0-2LMrPW {
}

.desktop-5 .span1-2LMrPW {
}

.desktop-5 .span2-2LMrPW {
}

.desktop-5 .span3-2LMrPW {
}

.desktop-5 .span4-2LMrPW {
}

.desktop-5 .span5-2LMrPW {
}

.desktop-5 .span6-2LMrPW {
}

.desktop-5 .people-actively-try-lMJovW {
  background-color: transparent;
  height: auto;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4106px;
  width: 692px;
}

.desktop-5 .span0-uOKVJf {
}

.desktop-5 .span1-uOKVJf {
}

.desktop-5 .grocery-shopping-is-lMJovW {
  background-color: transparent;
  height: auto;
  left: 648px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4257px;
  width: 692px;
}

.desktop-5 .span0-ZiT4l7 {
}

.desktop-5 .span1-ZiT4l7 {
}

.desktop-5 .even-when-theres-pla-lMJovW {
  background-color: transparent;
  height: auto;
  left: 648px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4366px;
  width: 692px;
}

.desktop-5 .span0-Ad1h8T {
}

.desktop-5 .span1-Ad1h8T {
}

.desktop-5 .goal-to-get-a-detail-lMJovW {
  background-color: transparent;
  height: auto;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3446px;
  width: 691px;
}

.desktop-5 .span0-Ev66hZ {
}

.desktop-5 .span1-Ev66hZ {
}

.desktop-5 .outcome-i-concluded-lMJovW {
  background-color: transparent;
  height: auto;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5652px;
  width: 691px;
}

.desktop-5 .span0-x4VXI0 {
}

.desktop-5 .span1-x4VXI0 {
}

.desktop-5 .good-intentions-go-b-lMJovW {
  background-color: transparent;
  height: auto;
  left: 698px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1617px;
  width: 642px;
}

.desktop-5 .span0-mT9vlN {
}

.desktop-5 .span1-mT9vlN {
}

.desktop-5 .lack-of-self-awarene-lMJovW {
  background-color: transparent;
  height: auto;
  left: 698px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1747px;
  width: 642px;
}

.desktop-5 .span0-0g9qZc {
}

.desktop-5 .span1-0g9qZc {
}

.desktop-5 .we-dont-know-much-ab-lMJovW {
  background-color: transparent;
  height: auto;
  left: 695px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1835px;
  width: 642px;
}

.desktop-5 .span0-W3vG50 {
}

.desktop-5 .span1-W3vG50 {
}

.desktop-5 .overview-lMJovW {
  background-color: transparent;
  height: auto;
  left: 151px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1067px;
  width: auto;
}

.desktop-5 .research-lMJovW {
  background-color: transparent;
  height: auto;
  left: 151px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2677px;
  width: auto;
}

.desktop-5 .the-average-american-lMJovW {
  background-color: transparent;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1747px;
  width: 484px;
}

.desktop-5 .span0-ngML0o {
}

.desktop-5 .span1-ngML0o {
}

.desktop-5 .span2-ngML0o {
}

.desktop-5 .estimating-food-wast-lMJovW {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  height: auto;
  left: 228px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1824px;
  width: auto;
}

.desktop-5 .x01-lMJovW {
  background-color: transparent;
  height: auto;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1617px;
  width: auto;
}

.desktop-5 .x02-lMJovW {
  background-color: transparent;
  height: auto;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1747px;
  width: auto;
}

.desktop-5 .x03-lMJovW {
  background-color: transparent;
  height: auto;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1835px;
  width: auto;
}

.desktop-5 .group-5-lMJovW {
  background-color: transparent;
  height: 352px;
  left: 316px;
  position: absolute;
  top: 2104px;
  width: 826px;
}

.desktop-5 .project-timeline-kLLzYx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 275px;
}

.desktop-5 .x01-kLLzYx {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: auto;
}

.desktop-5 .x02-kLLzYx {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  height: auto;
  left: 201px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: auto;
}

.desktop-5 .x03-kLLzYx {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  height: auto;
  left: 403px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: auto;
}

.desktop-5 .x04-kLLzYx {
  -webkit-text-stroke: 1px var(--white);
  background-color: transparent;
  height: auto;
  left: 605px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 52px;
  width: auto;
}

.desktop-5 .empathize-and-define-kLLzYx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 128px;
  width: 202px;
}

.desktop-5 .span0-FjZioq {
}

.desktop-5 .span1-FjZioq {
}

.desktop-5 .research-user-interv-kLLzYx {
  background-color: transparent;
  height: auto;
  left: 202px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 128px;
  width: 202px;
}

.desktop-5 .span0-vzkLbN {
}

.desktop-5 .span1-vzkLbN {
}

.desktop-5 .design-and-prototype-kLLzYx {
  background-color: transparent;
  height: auto;
  left: 404px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 128px;
  width: 202px;
}

.desktop-5 .span0-NXkC6h {
}

.desktop-5 .span1-NXkC6h {
}

.desktop-5 .evaluate-user-feedba-kLLzYx {
  background-color: transparent;
  height: auto;
  left: 606px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 128px;
  width: 202px;
}

.desktop-5 .span0-lugLzH {
}

.desktop-5 .span1-lugLzH {
}

.desktop-5 .interview-icon-1-lMJovW {
  background-color: transparent;
  height: 101px;
  left: 653px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 2778px;
  width: 125px;
}

.desktop-5 .interview-icon-2-lMJovW {
  background-color: transparent;
  height: 185px;
  left: 188px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 3165px;
  width: 229px;
}

.desktop-5 .group-6-lMJovW {
  background-color: transparent;
  height: 101px;
  left: 927px;
  position: absolute;
  top: 2778px;
  width: 88px;
}

.desktop-5 .group-11-lMJovW {
  background-color: transparent;
  height: 201px;
  left: 215px;
  position: absolute;
  top: 3901px;
  width: 175px;
}

.desktop-5 .group-10-lMJovW {
  background-color: transparent;
  height: 101px;
  left: 1168px;
  position: absolute;
  top: 2778px;
  width: 101px;
}

.desktop-5 .rectangle-26-V3Zwm6 {
  background-color: transparent;
  border-radius: 0.5px;
  height: 78px;
  left: 37px;
  position: absolute;
  top: 0px;
  width: 28px;
}

.desktop-5 .group-9-V3Zwm6 {
  background-color: transparent;
  height: 101px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 101px;
}

.desktop-5 .rectangle-25-euztFj {
  background-color: transparent;
  border-radius: 0.5px;
  height: 78px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28px;
}

.desktop-5 .rectangle-27-euztFj {
  background-color: transparent;
  border-radius: 0.5px;
  height: 78px;
  left: 73px;
  position: absolute;
  top: 0px;
  width: 28px;
}

.desktop-5 .group-7-euztFj {
  background-color: transparent;
  height: 12px;
  left: 5px;
  position: absolute;
  top: 89px;
  width: 17px;
}

.desktop-5 .line-2-LznOt3 {
  background-color: transparent;
  height: 6px;
  left: 0px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.desktop-5 .line-3-LznOt3 {
  background-color: transparent;
  height: 14px;
  left: 5px;
  position: absolute;
  top: -1px;
  width: 14px;
}

.desktop-5 .group-8-euztFj {
  background-color: transparent;
  height: 12px;
  left: 78px;
  position: absolute;
  top: 89px;
  width: 17px;
}

.desktop-5 .line-2-YDSFRy {
  background-color: transparent;
  height: 6px;
  left: -1px;
  position: absolute;
  top: 6px;
  width: 6px;
}

.desktop-5 .line-3-YDSFRy {
  background-color: transparent;
  height: 14px;
  left: 5px;
  position: absolute;
  top: -1px;
  width: 13px;
}

.desktop-5 .screen-shot-2021-12-06-at-706-1-lMJovW {
  background-color: transparent;
  height: 615px;
  left: 150px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 4618px;
  width: 1141px;
}

.desktop-5 .group-15-lMJovW {
  background-color: transparent;
  height: 146px;
  left: 63px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3617px;
  width: 1315px;
}

.desktop-5 .group-14-SMHIXe {
  background-color: transparent;
  height: 146px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 387px;
}

.desktop-5 .text_label-4bEQIN {
  background-color: transparent;
  height: auto;
  left: 260px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 43px;
  width: auto;
}

.desktop-5 .text_label-n5CE3v {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: auto;
}

.desktop-5 .grocery-shopping-is-a-pain-in-the-ass-4bEQIN {
  background-color: transparent;
  height: auto;
  left: 11px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 370px;
}

.desktop-5 .group-12-SMHIXe {
  background-color: transparent;
  height: 143px;
  left: 464px;
  position: absolute;
  top: 0px;
  width: 390px;
}

.desktop-5 .text_label-JJX04o {
  background-color: transparent;
  height: auto;
  left: 281px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 40px;
  width: auto;
}

.desktop-5 .text_label-nW5bxk {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: auto;
}

.desktop-5 .i-throw-out-about-30-40-of-all-my-food-JJX04o {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 370px;
}

.desktop-5 .group-13-SMHIXe {
  background-color: transparent;
  height: 143px;
  left: 931px;
  position: absolute;
  top: 0px;
  width: 390px;
}

.desktop-5 .text_label-Qvr1V2 {
  background-color: transparent;
  height: auto;
  left: 321px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 40px;
  width: auto;
}

.desktop-5 .text_label-hsMqh0 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: auto;
}

.desktop-5 .i-probably-most-comm-Qvr1V2 {
  background-color: transparent;
  height: auto;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 370px;
}

.desktop-5 .competitive-analysis-1-lMJovW {
  background-color: transparent;
  height: 878px;
  left: 142px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 5810px;
  width: 1136px;
}

.desktop-5 .how-might-we-support-lMJovW {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 100px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 6830px;
  width: 1240px;
}

.desktop-5 .rectangle-244-lMJovW {
  background-color: var(--white);
  height: 397px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15591px;
  width: 1440px;
}

.desktop-5 .say-hi-lMJovW {
  -webkit-text-stroke: 2px var(--black);
  background-color: transparent;
  height: auto;
  left: 490px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 15672px;
  width: auto;
}

.desktop-5 .tlo7700gmailcom-lMJovW {
  background-color: transparent;
  height: auto;
  left: 203px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 15782px;
  width: auto;
}

.desktop-5 .address-lMJovW {
  -webkit-text-stroke: 1px var(--black);
  background-color: transparent;
  height: auto;
  left: 202px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 15716px;
  width: auto;
}

.desktop-5 .group-4-lMJovW {
  background-color: transparent;
  height: 42px;
  left: 516px;
  position: absolute;
  top: 15882px;
  width: 414px;
}

.desktop-5 .work-ub16AU {
  -webkit-text-stroke: 1px var(--black);
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.desktop-5 .home-ub16AU {
  -webkit-text-stroke: 1px var(--black);
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: -1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.desktop-5 .about-ub16AU {
  -webkit-text-stroke: 1px var(--black);
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 309px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: auto;
}

.desktop-5 .design-lMJovW {
  background-color: transparent;
  height: auto;
  left: 153px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7311px;
  width: auto;
}

.desktop-5 .people-need-a-more-e-lMJovW {
  background-color: transparent;
  height: auto;
  left: 650px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7388px;
  width: 690px;
}

.desktop-5 .group-16-lMJovW {
  background-color: transparent;
  height: 181px;
  left: 220px;
  position: absolute;
  top: 5389px;
  width: 181px;
}

.desktop-5 .rectangle-26-l3APvO {
  background-color: transparent;
  border-radius: 0.5px;
  height: 140px;
  left: 66px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.desktop-5 .group-9-l3APvO {
  background-color: transparent;
  height: 181px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 181px;
}

.desktop-5 .rectangle-25-PecIJ0 {
  background-color: transparent;
  border-radius: 0.5px;
  height: 140px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.desktop-5 .rectangle-27-PecIJ0 {
  background-color: transparent;
  border-radius: 0.5px;
  height: 140px;
  left: 131px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.desktop-5 .group-7-PecIJ0 {
  background-color: transparent;
  height: 22px;
  left: 9px;
  position: absolute;
  top: 159px;
  width: 31px;
}

.desktop-5 .line-2-zX9abP {
  background-color: transparent;
  height: 10px;
  left: -1px;
  position: absolute;
  top: 12px;
  width: 10px;
}

.desktop-5 .line-3-zX9abP {
  background-color: transparent;
  height: 23px;
  left: 9px;
  position: absolute;
  top: -1px;
  width: 23px;
}

.desktop-5 .group-8-PecIJ0 {
  background-color: transparent;
  height: 22px;
  left: 140px;
  position: absolute;
  top: 159px;
  width: 31px;
}

.desktop-5 .line-2-yxmrHp {
  background-color: transparent;
  height: 10px;
  left: -1px;
  position: absolute;
  top: 12px;
  width: 10px;
}

.desktop-5 .line-3-yxmrHp {
  background-color: transparent;
  height: 23px;
  left: 9px;
  position: absolute;
  top: -1px;
  width: 23px;
}

.desktop-5 .screen-shot-2021-12-07-at-122-1-lMJovW {
  background-color: transparent;
  height: 403px;
  left: 100px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 7981px;
  width: 1240px;
}

.desktop-5 .to-grasp-a-better-un-lMJovW {
  background-color: transparent;
  height: auto;
  left: 319px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 7855px;
  width: 692px;
}

.desktop-5 .after-developing-the-lMJovW {
  background-color: transparent;
  height: auto;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8605px;
  width: 692px;
}

.desktop-5 .store-specific-orders-1-lMJovW {
  background-color: transparent;
  height: 583px;
  left: 282px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9356px;
  width: 285px;
}

.desktop-5 .group-27-lMJovW {
  background-color: transparent;
  height: 116px;
  left: 319px;
  position: absolute;
  top: 9005px;
  width: 521px;
}

.desktop-5 .calendar-QQaZA9 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 275px;
}

.desktop-5 .the-calendar-feature-QQaZA9 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 53px;
  width: 517px;
}

.desktop-5 .span0-xr93u2 {
}

.desktop-5 .span1-xr93u2 {
}

.desktop-5 .through-my-interview-lMJovW {
  background-color: transparent;
  height: auto;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 9622px;
  width: 517px;
}

.desktop-5 .span0-DeRmiz {
}

.desktop-5 .span1-DeRmiz {
}

.desktop-5 .span2-DeRmiz {
}

.desktop-5 .no-worries-this-feat-lMJovW {
  background-color: transparent;
  height: auto;
  left: 318px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10225px;
  width: 517px;
}

.desktop-5 .span0-r7lhQE {
}

.desktop-5 .span1-r7lhQE {
}

.desktop-5 .span2-r7lhQE {
}

.desktop-5 .here-are-some-other-lMJovW {
  background-color: transparent;
  height: auto;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11838px;
  width: 488px;
}

.desktop-5 .liked-page-1-lMJovW {
  background-color: transparent;
  height: 574px;
  left: 893px;
  mix-blend-mode: normal;
  position: absolute;
  top: 11997px;
  width: 280px;
}

.desktop-5 .calendar-feature-1-lMJovW {
  background-color: transparent;
  height: 587px;
  left: 870px;
  mix-blend-mode: normal;
  position: absolute;
  top: 8769px;
  width: 279px;
}

.desktop-5 .already-have-it-1-lMJovW {
  background-color: transparent;
  height: 581px;
  left: 866px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9939px;
  width: 283px;
}

.desktop-5 .group-17-lMJovW {
  background-color: transparent;
  height: 714px;
  left: 297px;
  position: absolute;
  top: 10661px;
  width: 851px;
}

.desktop-5 .mid-fidelity-wireframes-nlqP57 {
  background-color: transparent;
  height: auto;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 275px;
}

.desktop-5 .wireframe-1-nlqP57 {
  background-color: transparent;
  height: 558px;
  left: 284px;
  mix-blend-mode: normal;
  position: absolute;
  top: 170px;
  width: 278px;
}

.desktop-5 .wireframe3-1-nlqP57 {
  background-color: transparent;
  height: 558px;
  left: -4px;
  mix-blend-mode: normal;
  position: absolute;
  top: 170px;
  width: 276px;
}

.desktop-5 .wireframe2-1-nlqP57 {
  background-color: transparent;
  height: 558px;
  left: 574px;
  mix-blend-mode: normal;
  position: absolute;
  top: 170px;
  width: 277px;
}

.desktop-5 .i-first-started-with-nlqP57 {
  background-color: transparent;
  height: auto;
  left: 2px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 42px;
  width: 692px;
}

.desktop-5 .final-design-lMJovW {
  background-color: transparent;
  height: auto;
  left: 153px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11777px;
  width: auto;
}

.desktop-5 .other-key-features-lMJovW {
  background-color: transparent;
  height: auto;
  left: 647px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11786px;
  width: 275px;
}

.desktop-5 .group-18-lMJovW {
  background-color: transparent;
  height: 116px;
  left: 319px;
  position: absolute;
  top: 12226px;
  width: 492px;
}

.desktop-5 .the-liked-page-keeps-vd8Naw {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 53px;
  width: 488px;
}

.desktop-5 .liked-page-vd8Naw {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 275px;
}

.desktop-5 .in-the-freezer-1-lMJovW {
  background-color: transparent;
  height: 568px;
  left: 285px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12571px;
  width: 280px;
}

.desktop-5 .group-19-lMJovW {
  background-color: transparent;
  height: 95px;
  left: 647px;
  position: absolute;
  top: 12807px;
  width: 493px;
}

.desktop-5 .by-clicking-this-but-3IbxsX {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 53px;
  width: 488px;
}

.desktop-5 .in-the-freezer-3IbxsX {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 275px;
}

.desktop-5 .group-20-lMJovW {
  background-color: transparent;
  height: 158px;
  left: 319px;
  position: absolute;
  top: 13341px;
  width: 493px;
}

.desktop-5 .the-profile-tab-allo-cQIqgp {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 53px;
  width: 488px;
}

.desktop-5 .span0-bI6ASW {
}

.desktop-5 .span1-bI6ASW {
}

.desktop-5 .span2-bI6ASW {
}

.desktop-5 .profile-cQIqgp {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 275px;
}

.desktop-5 .checkout-1-lMJovW {
  background-color: transparent;
  height: 556px;
  left: 289px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13701px;
  width: 271px;
}

.desktop-5 .group-21-lMJovW {
  background-color: transparent;
  height: 116px;
  left: 648px;
  position: absolute;
  top: 13921px;
  width: 493px;
}

.desktop-5 .after-a-user-is-read-MKdj1w {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 53px;
  width: 488px;
}

.desktop-5 .delivery-pickup-MKdj1w {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 275px;
}

.desktop-5 .group-23-lMJovW {
  background-color: transparent;
  height: 116px;
  left: 647px;
  position: absolute;
  top: 14609px;
  width: 697px;
}

.desktop-5 .for-my-user-testing-uklSsn {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 53px;
  width: 692px;
}

.desktop-5 .user-testing-plan-uklSsn {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 275px;
}

.desktop-5 .group-24-lMJovW {
  background-color: transparent;
  height: 158px;
  left: 320px;
  position: absolute;
  top: 14820px;
  width: 697px;
}

.desktop-5 .my-results-were-bett-eIbwad {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 53px;
  width: 692px;
}

.desktop-5 .span0-U04d4s {
}

.desktop-5 .span1-U04d4s {
}

.desktop-5 .span2-U04d4s {
}

.desktop-5 .span3-U04d4s {
}

.desktop-5 .span4-U04d4s {
}

.desktop-5 .results-and-feedback-eIbwad {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 275px;
}

.desktop-5 .group-25-lMJovW {
  background-color: transparent;
  height: 158px;
  left: 647px;
  position: absolute;
  top: 15064px;
  width: 697px;
}

.desktop-5 .this-was-my-first-ex-xuSkFB {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 53px;
  width: 692px;
}

.desktop-5 .conclusion-xuSkFB {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 275px;
}

.desktop-5 .group-26-lMJovW {
  background-color: transparent;
  height: 137px;
  left: 319px;
  position: absolute;
  top: 15338px;
  width: 697px;
}

.desktop-5 .in-the-future-i-want-WxxOtB {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 53px;
  width: 692px;
}

.desktop-5 .future-WxxOtB {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 275px;
}

.desktop-5 .group-22-lMJovW {
  background-color: transparent;
  height: 28px;
  left: 648px;
  position: absolute;
  top: 14062px;
  width: 619px;
}

.desktop-5 .for-full-prototype-3AbrsM {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 415px;
}

.desktop-5 .click-here-3AbrsM {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 200px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: 415px;
}

.desktop-5 .text_label-e20GE8 {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 863px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 11788px;
  width: auto;
}

.desktop-5 .profile-tab-1-lMJovW {
  background-color: transparent;
  height: 562px;
  left: 895px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13139px;
  width: 275px;
}

.desktop-5 .reflection-lMJovW {
  background-color: transparent;
  height: auto;
  left: 153px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 14600px;
  width: auto;
}
