h1{
  font-family: sans-serif;
  font-size: 34px;
  font-style: oblique;
  color: white;
  margin: -10px;
  padding-bottom: 30px;
  text-shadow: 3px 3px 1px #28666E;

}

h2{
  font-family: sans-serif;
  font-size: 20px;
  font-style: oblique;
  color: white;
}

h4{
  font-family: sans-serif;
  color: #28666E;
  margin-left: 50px;
}

body{
  background-color: #191923;
  width: 1000px;
  padding: 0 20px 20px 20px;
  border-top: 10px double #F46036;
  border-bottom: 10px double #F46036;

}

p{
  font-family: sans-serif;
  color: white;

}
