body{
  background-color: #fff3b0;
}
#section{
  background-color: #335c67;
  margin: 30vh 20vw;
  padding: 10vh 10vw;
  border-radius: 8px;
}

button{
  border-radius: 8px;
  padding: 1vh 3vw;
  float: right;
  margin-top: 1vh;
  background-color: #540b0e;
  color: #fff3b0;
  font-family: "Bebas Neue";
}

button:hover{
  background-color:#540b0e ;
  color: white;
}

button:active{
  background-color: white;
  color: black;
}

h1{
  color: #fff3b0;
  font-family: "Bebas Neue"
}
